[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "px4_msgs"]
	path = px4_msgs
	url = https://github.com/PX4/px4_msgs
	branch = release/1.15
[submodule "apriltag_ros"]
	path = apriltag_ros
	url = https://github.com/christianrauch/apriltag_ros
[submodule "dexi_interfaces"]
	path = dexi_interfaces
	url = https://github.com/DroneBlocks/dexi_interfaces
